body{
    background-color: rgb(58, 56, 56);
}
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;


}
div#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;

}

input{
    color: white;
    background-color:black;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 250px;
    height: 30px;
}
#button{
    width: 250px;
    height: 40px;
    background-color: rgb(102, 102, 226);
    border-radius: 4px;
}
h2{
    color: rgb(230, 89, 89);
    text-align:center;
}
div#result{
    color: white
}
